$backgrond-color: #9da4ba;
$table-head-cell-color: #555555;
$table-cell-heading-color: #000000;
$table-head-background-color: #ffffff;
$table-body-background-color: #ffffff;
$orange-color: #ff8d00;
$border-color: #dddddd;
$modal-card-head-background-color: #ffffff;
$modal-content-width: 27.313rem;
